{%- if paginate.pages > 1 -%}
    <nav class="pagination-nav my-12 max-w-max mx-auto" aria-label="Pagination">
        <ol class="pagination flex items-center space-x-2">
            {%- if paginate.previous -%}
                <li>
                    <a href="{{ paginate.previous.url }}" aria-label="Go to previous page">
                        <span aria-hidden="true">&laquo;</span>
                        Previous
                    </a>
                </li>
            {%- else -%}
                <li class="disabled">
                    <span aria-hidden="true">&laquo;</span>
                    Previous
                </li>
            {%- endif -%}

            {%- for part in paginate.parts -%}
                {%- if part.is_link -%}
                    <li>
                        <a href="{{ part.url }}" aria-label="Go to page {{ part.title }}">
                            {{ part.title }}
                        </a>
                    </li>
                {%- else -%}
                    {%- if part.title == paginate.current_page -%}
                        <li aria-current="page" class="active">
                            {{ part.title }}
                        </li>
                    {%- else -%}
                        <li>
                            {{ part.title }}
                        </li>
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}

            {%- if paginate.next -%}
                <li>
                    <a href="{{ paginate.next.url }}" aria-label="Go to next page">
                        Next
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {%- else -%}
                <li class="disabled">
                    Next
                    <span aria-hidden="true">&raquo;</span>
                </li>
            {%- endif -%}
        </ol>
    </nav>
{%- endif -%}